@import url('https://fonts.googleapis.com/css?family=Staatliches');

body {
    display: flex;
    justify-content: center;
    background-color: #D1c6bf;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 75px;
    color: #ca9f92;
    text-shadow: 3px 3px #8db6c7;
}

#pixelPainter {
    min-height: 50%;
    width: 50%;
    background-color: #D1C68F;
    border: 10px solid #51C0BF;
    border-radius: 20px;
    margin: 20px;

}

.row {
    display: flex;
}

.pixel {
    border: 1px solid #51C0BF;
    background-color: #ffffff;
    width: 23px;
    height: 23px;
}

.grid {
    margin: 20px;
    border: 1px solid #51C0BF;


}